@import "topnav.css";

body{
  font-family: 'Roboto', sans-serif;
  background-color: rgba(255, 166, 0, 0.479);
  overflow-x:hidden;
  height: 2000px;
}

.main{
  position: absolute;
  top:120px;
  width: 100%;
  height: 100%;
}
h4,h3,h2{
	font-family: 'Arimo', sans-serif;
}

.main input[type=text] {
  /*veliki search bar*/
  padding: 6px;
  border: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 8px;
  padding-right: 20px;
  font-size: 14px;
  background: url(ikone/search-gray.svg);
  background-position: 9px 5px;
  background-repeat: no-repeat;
  background-size: 17px 17px;
  fill: lightgray;
  border-color: #C7C7C7;
  padding-left: 30px;
}

.main input[type=text] {
  float: left;
  position: relative;
  width: 90%;
  background-color: white;
  color: gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

.main ::placeholder {
  color: #b3b2b2;
}

#small-src {
  position: absolute;
  margin-top: 0;
  margin-right: 0;
  visibility: hidden;
}

.card-container {
  padding-top: 30px;
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content:space-around;
  flex-wrap:wrap;
  flex-grow: 1;
  flex: 1;
}

.video{
  display: flex;
  width:370px;
  height: 320px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
